
<app-header></app-header>

<div class="container seekercss">
    <div class="" style="padding:1%">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{userName}} {{userLastName}}</h5>
                        <h6>{{userEmail}}</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="background:  #00AA9E;;">
            <div class="card">
                <div class="card-header" *ngIf = "jobDetails">
                        {{jobDetails[0].jobTitle}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Web Devloper</h5>
                    <p class="card-text"> Job discription in shorter format With supporting text below as a natural
                        lead-in to additional content.</p>
                    <button type="button" class="btn btn-link">Read More</button>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <br>

            <!-- <div class="card">
                <div class="card-header">
                    Company Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">Web Devloper</h5>
                    <p class="card-text"> Job discription in shorter format With supporting text below as a natural
                        lead-in to additional content.</p>
                    <button type="button" class="btn btn-link">Read More</button>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div> -->
        </div>
    </div>
</div>