
<app-header></app-header>

<div *ngIf="User" class="container seekercss">
    <div class="" style="padding:1%">
        <div class="card mb-3">
            <div class="row no-gutters">
               <!-- <div class="col-md-4">
                    <img src="../../../assets/img/gender2.jpg" class="card-img" alt="..." style="width:282px" >
                </div>-->
                <div *ngIf="User.userimage">
                    <img src="{{'data:image/png;base64,' +User.userimage}}" height="80%" width="100%"  />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{User.firstName}} {{User.lastName}}</h3>
                        <h5>{{User.emailID}}</h5><br>
                        <h6>Skills</h6>
                        <div>
                            <ul *ngFor = "let skill of skills">
                                <li>{{skill.skillset.skillName}}</li>
                            </ul>
                        </div>
                        
                        <p class="card-text">.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="background:  #00AA9E;;" *ngFor="let jobpost of jobDetails; let i = index">
            <div class="card" >
                <div class="card-header">
                       <h5>{{jobpost.company.companyName}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{jobpost.jobTitle}}</h5>
                    <p class="card-text"> {{ jobpost.jobDescription }} </p>
                    <p class="card-text"> Experience: {{ jobpost.experience }} years</p>
                    <p class="card-text"> Skills Required: 
                        <span *ngFor="let skills of jobpost.skillset; let isLast=last;">
                                    {{ skills.skillName}}{{isLast ? '' : ', '}}
                        </span>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-info" style="float: right;" (click)="onApply(jobpost.jobPostId)" [disabled]="jobpost.status == 1">Apply</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>



