
<app-header></app-header>

<div *ngIf="User" class="container seekercss">
    <div class="" style="padding:1%">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{User.firstName}} {{User.lastName}}</h5>
                        <h6>{{User.emailID}}</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="background:  #00AA9E;;" *ngFor="let jobpost of jobDetails; let i = index">
            <div class="card" >
                <div class="card-header">
                       <h5>{{jobpost.company.companyName}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{jobpost.jobTitle}}</h5>
                    <p class="card-text"> {{ jobpost.jobDescription }} </p>
                    <p class="card-text"> Experience: {{ jobpost.experience }} years</p>
                    <p class="card-text"> Skills Required: 
                        <span *ngFor="let skills of jobpost.skillset; let isLast=last;">
                                    {{ skills.skillName}}{{isLast ? '' : ', '}}
                        </span>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-info" style="float: right;" (click)="onApply(jobpost.jobPostId)">Apply</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>