
<nav class="navbar" style="background-color: #00AA9E;">
    <a class="navbar-brand" href="#">
        <h4 class="display-6" style="color: wheat;">TopJobs</h4>

    </a>
    <div class="btn-group">
        <div *ngIf ="!loggedIn">
                <button (click)="gologin()" type="button" class="btn btn-primary  btn-outline mr-1 ">Login</button>
                <button (click)="goRegister()" type="button" class="btn btn-primary  btn-outline mr-1">Register</button>

        </div>
        <div *ngIf = "loggedIn">
                <button (click)="goLogOut()" type="button" class="btn btn-primary  btn-outline mr-1 ">logOut</button>
        </div>
       
    </div>
</nav>