.btn-space {
    margin-right: 5px;
}

.btnStyle{
    background-color: #00AA9E;
     border-color:#00AA9E ; 
     color: wheat;
}


img {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }