<!-- Image and text -->



<nav class="navbar" style="background-color: #00AA9E;">
    <a class="navbar-brand" href="#">
        <h4 class="display-6" style="color: wheat;">TopJobs</h4>

    </a>
    <div class="btn-group">
        <button (click)="gologin()" type="button" class="btn btn-primary  btn-outline mr-1 ">Login</button>
        <button (click)="goRegister()" type="button" class="btn btn-primary  btn-outline mr-1">Register</button>
    </div>
</nav>


<br>
<br>
<div class="container">
   
    <button class="btn btn-primary btn-space btnStyle" 
        type="submit"><strong>Find Candidates</strong>
    </button>

    <button class="btn btn-primary btn btn-primary btn-space btnStyle" 
        type="button"><strong>SearchJobs</strong>
    </button>
</div>