<app-header></app-header>
<div class="container mainCard">



    <form #userForm="ngForm" *ngIf="!submitted" novalidate>

        <div class="card bg-light text-center shadow-lg p-3 mb-5 bg-white rounded ">
            <div class="card-header " style="background-color: #00AA9E; ">
                <div class="">
                    <h2>Company Details</h2>
                </div>
            </div>

            <article class="card-body mx-auto " style="min-width: 70%;">
                <div class="">

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fas fa-building"></i><strong></strong></span>
                        </div>

                        <input input-smtype="text" #companyName="ngModel" required class="form-control" minlength="3"
                            [class.is-invalid]="companyName.invalid && companyName.touched" name="companyName"
                            [(ngModel)]="userModel.companyName" placeholder="Company Name">

                        <div *ngIf="!(companyName.valid || companyName.touched)">
                            <small class="text-danger" *ngIf="companyName.required">companyNamer is required</small>
                            <small class="text-danger" *ngIf="companyName.minlength">companyNamemust be minimum 3
                                charcters</small>
                        </div>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class='far fa-clipboard'
                                    style='font-size:36px'></i><strong></strong></span>
                        </div>

                        <textarea rows="2" type="textarea" #companyDescription="ngModel" required class="form-control"
                            [class.is-invalid]="companyDescription.invalid && companyDescription.touched"
                            name="companyDescription" [(ngModel)]="userModel.companyDescription"
                            placeholder="About the company">
            </textarea>
                        <small class="text-danger"
                            [class.d-none]="companyDescription.valid || companyDescription.untouched">companyDescription
                            is
                            required</small>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class='fas fa-calendar'></i></span>
                        </div>

                        <input type="date" #establishmentDate="ngModel" required class="form-control"
                            [class.is-invalid]="establishmentDate.invalid && establishmentDate.touched"
                            name="establishmentDate" [(ngModel)]="userModel.establishmentDate"
                            placeholder="About the company">
                        <small class="text-danger"
                            [class.d-none]="establishmentDate.valid || establishmentDate.untouched">establishmentDate
                            is
                            required</small>


                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i
                                    class='fas fa-globe-americas'></i><strong></strong></span>
                        </div>

                        <input type="url" #websiteUrl="ngModel" required class="form-control"
                            [class.is-invalid]="websiteUrl.invalid && websiteUrl.touched" name="websiteUrl"
                            [(ngModel)]="userModel.websiteUrl" placeholder="Company website">
                        <small class="text-danger" [class.d-none]="websiteUrl.valid || websiteUrl.untouched">websiteUrl
                            is
                            required</small>
                    </div>


                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class='fas fa-city'></i><strong></strong></span>
                        </div>

                        <input type="text" #headquarter="ngModel" required class="form-control"
                            [class.is-invalid]="headquarter.invalid && headquarter.touched" name="headquarter"
                            [(ngModel)]="userModel.headquarter" placeholder="Headquarter">
                        <small class="text-danger"
                            [class.d-none]="headquarter.valid || headquarter.untouched">headquarter is
                            required</small>
                    </div>

                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fas fa-pen"></i><strong></strong></span>
                        </div>

                        <input type="text" #specialities="ngModel" required class="form-control"
                            [class.is-invalid]="specialities.invalid && specialities.touched" name="specialities "
                            [(ngModel)]="userModel.specialities " placeholder="Specialities">
                        <small class="text-danger"
                            [class.d-none]="specialities.valid || specialities.untouched">specialities
                            is
                            required</small>
                    </div>
                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fas fa-pen"></i></span>
                        </div>

                        <input type="text" #industry="ngModel" required class="form-control"
                            [class.is-invalid]="industry.invalid && industry.touched" name="industry "
                            [(ngModel)]="userModel.industry " placeholder="Industry">
                        <small class="text-danger" [class.d-none]="industry.valid || industry.untouched">industry
                            is
                            required</small>
                    </div>
                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fas fa-pen"></i></span>
                        </div>

                        <input type="text" #type="ngModel" required class="form-control" placeholder="Company type"
                            [class.is-invalid]="type.invalid && type.touched" name="type" [(ngModel)]="userModel.type ">
                        <small class="text-danger" [class.d-none]="type.valid || type.untouched">company type
                            is
                            required</small>
                    </div>
                    <div class="form-group  input-group">
                      

                        <input   #image="ngModel" required  class="form-control" placeholder="Company image"
                         style="display: none" [(ngModel)]="userModel.image" name="image" type="file" (change)="onFileChanged($event)" #fileInput>
                        <button (click)="fileInput.click($event)"  class="btn btn-info" >Upload Company Image</button>
                      

                    </div>



                    <button class="btn btn-primary btn-space btnStyle"
                        [disabled]="userForm.form.invalid || topicHasError || !status" type="submit"
                        (click)="onSubmit()"><strong>Save</strong>
                    </button>

                    <button class="btn btn-primary btn btn-primary btn-space btnStyle" (click)="goEmployerDetails()"
                    [disabled]="!onsubmit"
                        type="button"><strong>Next</strong>
                    </button>
                </div>
            </article>
        </div>

    </form>
    <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
    </div>
</div>