


<div class="container mainCard">



    <form #userForm="ngForm" *ngIf="!submitted"  novalidate>

        <div class="card bg-light text-center shadow-lg p-3 mb-5 bg-white rounded ">
            <div class="card-header " style="background-color: #00AA9E; ">
                <div class="" >
                    <h2>Company Details</h2>
                </div>
            </div>

            <article class="card-body mx-auto " style="min-width: 70%;">
                <div class="">
                    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>companyName</strong></span>
                        </div>

                        <input input-smtype="text" #companyName="ngModel" required class="form-control" minlength="3"
                            [class.is-invalid]="companyName.invalid && companyName.touched" name="companyName"
                            [(ngModel)]="userModel.companyName" placeholder="companyName">

                        <div *ngIf="!(companyName.valid || companyName.touched)">
                            <small class="text-danger" *ngIf="companyName.required">companyNamer is required</small>
                            <small class="text-danger" *ngIf="companyName.minlength">companyNamemust be minimum 3 charcters</small>
                        </div>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><strong>Description</strong></span>
                        </div>

                        <textarea rows="2" type="textarea" #companyDescription="ngModel" required class="form-control"
                            [class.is-invalid]="companyDescription.invalid && companyDescription.touched"
                            name="companyDescription" [(ngModel)]="userModel.companyDescription"
                            placeholder="companyName" placeholder="companyDescription">
            </textarea>
                        <small class="text-danger"
                            [class.d-none]="companyDescription.valid || companyDescription.untouched">companyDescription
                            is
                            required</small>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>establishmentDate</strong></span>
                        </div>

                        <input type="date" #establishmentDate="ngModel" required class="form-control"
                            [class.is-invalid]="establishmentDate.invalid && establishmentDate.touched"
                            name="establishmentDate" [(ngModel)]="userModel.establishmentDate">
                        <small class="text-danger"
                            [class.d-none]="establishmentDate.valid || establishmentDate.untouched">companyDescription
                            is
                            required</small>


                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>websiteUrl</strong></span>
                        </div>

                        <input type="url" #websiteUrl="ngModel" required class="form-control"
                            [class.is-invalid]="websiteUrl.invalid && websiteUrl.touched" name="websiteUrl"
                            [(ngModel)]="userModel.websiteUrl" placeholder="www.sony.com">
                        <small class="text-danger"
                            [class.d-none]="websiteUrl.valid || websiteUrl.untouched">companyDescription is
                            required</small>
                    </div>


                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>headquarter</strong></span>
                        </div>

                        <input type="text" #headquarter="ngModel" required class="form-control"
                            [class.is-invalid]="headquarter.invalid && headquarter.touched" name="headquarter"
                            [(ngModel)]="userModel.headquarter" placeholder="Tokyo">
                        <small class="text-danger"
                            [class.d-none]="headquarter.valid || headquarter.untouched">companyDescription is
                            required</small>
                    </div>

                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>specialities</strong></span>
                        </div>

                        <input type="text" #specialities="ngModel" required class="form-control"
                            [class.is-invalid]="specialities.invalid && specialities.touched" name="specialities "
                            [(ngModel)]="userModel.specialities ">
                        <small class="text-danger"
                            [class.d-none]="specialities.valid || specialities.untouched">companyDescription
                            is
                            required</small>
                    </div>
                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>industry</strong></span>
                        </div>

                        <input type="text" #industry="ngModel" required class="form-control"
                            [class.is-invalid]="industry.invalid && industry.touched" name="industry "
                            [(ngModel)]="userModel.industry ">
                        <small class="text-danger"
                            [class.d-none]="industry.valid || industry.untouched">companyDescription
                            is
                            required</small>
                    </div>
                    <div class="form-group  input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><strong>type</strong></span>
                        </div>

                        <input type="text" #type="ngModel" required class="form-control"
                            [class.is-invalid]="type.invalid && type.touched" name="type" [(ngModel)]="userModel.type ">
                        <small class="text-danger" [class.d-none]="type.valid || type.untouched">companyDescription
                            is
                            required</small>
                    </div>



                    <button class="btn btn-primary btn-space btnStyle" [disabled]="userForm.form.invalid || topicHasError" type="submit"
                    (click)="onSubmit()"><strong>Save</strong>
                    </button>
                   
                    <button class="btn btn-primary btn btn-primary btn-space btnStyle" (click)="goEmployerDetails()" type="button" 
                      ><strong>Next</strong>
                </button>
                </div>
            </article>
        </div>

    </form>
    <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
    </div>
</div>