<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <h4 class="display-6" style="color: wheat;">TopJobs</h4>
    </a>
</nav>



<div class="container mainCard">

    <form #userForm="ngForm" *ngIf="!submitted" novalidate>
        <div class="card bg-light text-center shadow-lg p-3 mb-5 bg-white rounded ">
            <div class="card-header " style="background-color: #00AA9E; ">
                <div class="">
                    <h2> Registrations</h2>
                </div>
            </div>

            <article class="card-body mx-auto " style="min-width: 70%;">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><strong>I am </strong></span>
                    </div>
                    <select class="form-control custom-select" required id="" [(ngModel)]="regiseterModel.userType" name="userType"
                        (blur)="validateTopic(userType.value)" (change)="validateTopic(userType.value)"
                        #userType="ngModel" [class.is-invalid]="topicHasError && userType.touched && !(userType.dirty)" >
                        <option *ngFor="let topic of topics">{{ topic }}</option>
                    </select>
                    <small class="text-danger" [class.d-none]="!topicHasError || userType.touched && !(userType.dirty)">Please choose a
                        userType</small>
                       
                </div>



                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class='fas fa-user-alt'></i><strong></strong>*</span>
                    </div>

                    <input input-smtype="text" #firstName="ngModel" required class="form-control" minlength="3"
                        [class.is-invalid]="firstName.invalid && firstName.touched" name="firstName"
                        [(ngModel)]="regiseterModel.firstName" placeholder="firstName">

                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" style="color: red;">
                        <small *ngIf="firstName.errors.required">
                            firstName is required.
                          </small>
                          <small *ngIf="firstName.errors.minlength">
                            firstName must be at least 3 characters long.
                          </small>
                          <small *ngIf="name.errors.forbiddenName">
                            Name cannot be Bob.
                          </small>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class='fas fa-user-alt'></i><strong></strong></span>
                    </div>

                    <input type="text" #lastName="ngModel" required class="form-control"
                        [class.is-invalid]="lastName.invalid && lastName.touched" name="lastName"
                        [(ngModel)]="regiseterModel.lastName" placeholder="lastName">
                    <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">lastName
                        is
                        required</small>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class='fas fa-at'></i><strong></strong></span>
                    </div>

                    <input type="email" #emailID="ngModel" required class="form-control"
                        [class.is-invalid]="emailID.invalid && emailID.touched" name="emailID"
                        [(ngModel)]="regiseterModel.emailID" placeholder="emailID"  >
                          <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched)"
                            style="color: red;">
                             <div *ngIf="emailID.errors.required">
                                Email is required.
                              </div>
                              <div *ngIf="emailID.errors.pattern">
                                Enter a valid Email
                              </div>
                          </div>



                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-key"></i><strong></strong></span>
                    </div>

                    <input type="password" #password="ngModel" required class="form-control"
                        [class.is-invalid]="password.invalid && password.touched" name="password"
                        [(ngModel)]="regiseterModel.password" placeholder="" required minlength="3">
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is
                        required</small>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fa fa-mobile" aria-hidden="true"></i></span>
                    </div>

                    <input type="number" #contactNumber="ngModel" required class="form-control"
                        [class.is-invalid]="contactNumber.invalid && contactNumber.touched" name="contactNumber"
                        [(ngModel)]="regiseterModel.contactNumber" placeholder="contactNumber">
                    <small class="text-danger"
                        [class.d-none]="contactNumber.valid || contactNumber.untouched">contactNumber
                        is
                        required</small>
                </div>

                <div *ngIf="regiseterModel.userType=='Employer'">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fa fa-building"></i><strong></strong></span>
                        </div>
                        <select class="form-control" id="" [(ngModel)]="regiseterModel.companyName" name="companyName"
                            required>
                            <option *ngFor="let company of details ; let i=index" [value]="company.companyId">
                                {{company.companyName}}
                            </option>
                            <option value="others"> others</option>

                        </select>
                        <small class="text-danger" [class.d-none]="!topicHasError || companyName.untouched">Please
                            choose a Company</small>
                    </div>

                </div>



                <button class="btn btn-info btn-space btnStyle" (click)="onSubmit()"
                    [disabled]="userForm.form.invalid || topicHasError "><strong>submit</strong>
                </button>
                &nbsp;
                <button class="btn btn-info btn-space btnStyle" (click)="onNext()"
                    [disabled]="userForm.form.invalid || topicHasError  "><strong>login</strong>
                </button>
            </article>


        </div>
    </form>

</div>