<div class="container company">
    <div class="companyProfile mainCard" *ngIf = "companies">
        <div class="table  card bg-light shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header " style="background-color: #00AA9E; ">
                        <div class="companyHead">
                            <h2> Top Companies</h2>
                        </div>
                    </div>
                    <br>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top responsive" src="../../../assets/img/hp.png" style="width: 200px; height: 160px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{hp_name}}</h5>
                        <p class="card-text">{{hp_disc}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{hp_website}}</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top responsive" src="../../../assets/img/sony.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{sony_name}}</h5>
                        <p class="card-text"> {{sony_disc}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{sony_website}}</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top responsive" src="../../../assets/img/google.png"  style="width: 170px; height: 120px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{google_name}}</h5>
                        <p class="card-text">{{google_disc}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{google_website}}</small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-link" (click)="goAllcompany()">View More</button>
        </div>
    </div>
</div>


