<app-header></app-header>


<div class="container candidates">
  <div class="companyProfile">

    <div *ngIf="seekers" class="table  card bg-light shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-header " style="background-color: #00AA9E; ">
                <div  style="text-align: center;">
                    <h2 >JobSeekers List</h2>
                </div>
            </div>



                <div class="card-deck" *ngFor="let user of seekerlist" style=" box-shadow:30px; margin-top: 8px;" >
                    <div class="card"style=" box-shadow:50px">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">

                                <img src="{{'data:image/png;base64,' + user.userimage}}" class="img-thumbnail imageclass"
                                style=" box-shadow:30px" alt="Cinque Terre"  >

                            </div>
                            <div class="col-md-3">
                                                  
                                                    <div class="card-body">
                                                      <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>

                                                      <h6 class="card-subtitle mb-2 text-muted">{{user.emailID}}</h6>
                                                      <p class="card-text"></p>

                                                      <button (click)="viewProfile(user.userID)" type="button" class="btn btn-link">View Profile</button>
                                                    </div>
                                                  </div>
                                                </div>
                                      </div>
                          </div>
                </div>

    </div>

  </div>
</div>


