<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
		<property name="hibernate.connection.username">monisha</property>
		<property name="hibernate.connection.password">klms1234567</property>

		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.defaut_schema">ANUSHA</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create-drop</property>
		
		<mapping class="com.sony.model.entity.User" />
		<mapping class="com.sony.model.entity.JobPost"/>
		<mapping class="com.sony.model.entity.Company"/>
		<mapping class="com.sony.model.entity.EmployerCompany"/>
		<mapping class="com.sony.model.entity.SkillSet" />
		<mapping class="com.sony.model.entity.JobSeekerProject" />
		<mapping class="com.sony.model.entity.JobSeekerExperience" />
		<mapping class="com.sony.model.entity.JobSeekerSkills" />
		<mapping class="com.sony.model.entity.JobSeekerEducation" />

   		<mapping class="com.sony.model.entity.Specialisation" />

		<mapping class="com.sony.model.entity.JobSeekerCourse" />
		<mapping class="com.sony.model.entity.JobSeekerEducationType" />
		
	
   				

	<!--	<mapping resource="com/sony/mapping/employercompany.hbm.xml" />
		 <mapping resource="com/sony/mapping/user.hbm.xml"></mapping> 
		<mapping resource="com/sony/mapping/jobpost.hbm.xml"></mapping>
		<mapping resource="com/sony/mapping/company.hbm.xml" />-->
		</session-factory>
</hibernate-configuration>