<h1>hello</h1>
<div *ngIf="seekerssel" class="container seekercss">
    <div class="" style="padding:1%">
        

        <div class="" style="background:  #00AA9E;;" *ngFor="let seeker of seekerssel; let i = index">
            <div class="card" >
                <div class="card-header">
                       <h5>{{seeker.jobpost.jobTitle}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{seeker.user.firstName}}</h5>
                    <p class="card-text"> {{seeker.user.emailID}}</p>
                    
                </div>
                
            </div>
            <br>
        </div>
    </div>
</div>
