<app-header></app-header>

    

<div *ngIf="seekerssel" class="container candidates seekercss">
    
<div  class="table  card bg-light shadow-lg p-3 mb-5 bg-white rounded">
    <div class="">
            <div class="card-header " style="background-color: #00AA9E; ">
                    <div  style="text-align: center;">
                        <h2 >JobSeekers List</h2>
                    </div>
                </div>

        <div class="" style="background:  #00AA9E;;" *ngFor="let seeker of seekerssel; let i = index">
            <div class="card" >
                <div class="card-header">
                       <h5>{{seeker.jobpost.jobTitle}}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{seeker.user.firstName}}</h5>
                    <p class="card-text"> {{seeker.user.emailID}}</p>
                    
                </div>
                
            </div>
            <br>
        </div>
    </div>
</div>
</div>

