<app-header></app-header>
<div class="container">
    <div class="companyProfile mainCard ">
        <div class="table  card bg-light shadow-lg p-3 mb-5 bg-white rounded">
            <div *ngIf="company">

                <div class="container">


                </div>

                <div class="container">
                    <div class="row">
                        <div class="col ">
                            <img src="{{'data:image/png;base64,' + company.compimage}}" class="img-thumbnail imageclass"
                                alt="Cinque Terre">
                        </div>
                        <div class="col-sm-8 ">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col-sm-8" width="250" height="74" style="text-align: left; padding: 15px 15px 15px 15px;">
                                            <h5 >Company Name </h5>
                                        </th>
                                        <td scope="col" style="text-align:left; padding: 25px 15px 15px 15px;">
                                            <h5 >{{company.companyName}}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" width="250" height="74" style="text-align: left; padding: 15px 15px 15px 15px;">
                                            <h5> Company Description </h5>
                                        </th>
                                        <td scope="col" style="text-align:left; padding: 25px 15px 15px 15px;"> 
                                                <h5 >{{company.companyDescription}} </h5></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="">
        <button class="btn btn-primary btn btn-primary btn-space btnStyle" (click)="toCreatePost()"
            type="button"><strong>Job-Post</strong>
        </button>
    </div>




    <div class="mainCard container">
        <div class="row">
            <div class="table-responsive card bg-light text-center shadow-lg p-3 mb-5 bg-white rounded">
                <table class="table">

                    <tr style="background-color: #00AA9E; color: wheat;">

                    <tr>
                        <th>Sl No.</th>
                        <th>Job Title</th>
                        <th>Status</th>
                        <th>No. Of Applicants</th>
                        <th>Post Date</th>

                    </tr>

                    <tr *ngFor="let data of jobposts; let i=index">
                        <th scope="row">{{i+1}}</th>

                        <td>{{data.jobTitle}}</td>
                        <td>{{data.isActive}}</td>
                        <td><button type="button" class="btn btn-link"
                                (click)="applicants(data.jobPostId)">{{data.noOfApplicants}}</button></td>
                        <td>{{data.postDate}}</td>
                        <button type="button" class="btn btn-link" type="submit"
                            (click)="onEdit(data.jobPostId)">Edit</button>
                        <button type="button" class="btn btn-link" type="submit"
                            (click)="onDelete(data.jobPostId)">Delete</button>

                    </tr>




                </table>
            </div>
        </div>
    </div>
</div>