<div class="container">
    <div class="companyProfile mainCard ">
        <div class="table  card bg-light shadow-lg p-3 mb-5 bg-white rounded" >
            <h4>{{company}}</h4>
            <h4>{{companyDesc}}</h4>
            
        </div>
    </div>

    <div class="">
        <button class="btn btn-primary btn btn-primary btn-space btnStyle" (click)="toCreatePost()"
            type="button"><strong>Job-Post</strong>
        </button>
    </div>




    <div class="mainCard container">
        <div class="row">
            <div class="table-responsive card bg-light text-center shadow-lg p-3 mb-5 bg-white rounded">
                <table class="table">
                    <thead>
                        <tr style="background-color: #00AA9E; color: wheat;">

                            <th scope="col" class="col-xs-2">Index</th>
                            <th scope="col" class="col-xs-2">Position</th>
                            <th scope="col" class="col-xs-2">Vaccancies</th>
                            <th scope="col" class="col-xs-2">Status</th>
                            <th scope="col" class="col-xs-2">Apllicants</th>
                            <th scope="col" class="col-xs-2">Date</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row" class="col-xs-2">1</th>
                            <td class="col-xs-2">Mark</td>
                            <td class="col-xs-2">Otto</td>
                            <td class="col-xs-2">@mdo</td>
                            <td class="col-xs-2">10/9/19</td>
                            <td class="col-xs-2">@mdo</td>
                           <div class="btn-group">
                                <button type="button" class="btn btn-link">Edit</button>
                                <button type="button" class="btn btn-link" style="color: red;">Delete</button>
                           </div>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


