
<app-header></app-header>
<div class="container">
    <div class="companyProfile mainCard ">
        <div class="table  card bg-light shadow-lg p-3 mb-5 bg-white rounded" >
            <h4>Applications status</h4>
            <h4></h4>
        </div>
    </div>

    <div class="">
        <button class="btn btn-primary btn btn-primary btn-space btnStyle" (click)="toApply()"
            type="button"><strong>Apply</strong>
        </button>
    </div>




    <div class="mainCard container">
        <div class="table  card bg-light text-center shadow-lg p-3 mb-5 bg-white rounded">
            <table class="table">
                <thead>
                    <tr style="background-color: #00AA9E; color: wheat;">
                        <th scope="col">Index</th>
                        
                        <th scope="col">Job title</th>
                        <th scope="col">Company</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let job_post of appliedjob_posts; let i = index">
                        <th scope="row">{{i +1}}</th>
                        <td>{{job_post.jobpost.jobTitle}}</td>
                        <td>{{job_post.jobpost.company.companyName}}</td>
                        <td>{{job_post.status}}</td>
                       
                        
                    </tr>
                   


                </tbody>
            </table>
        </div>
    </div>
</div>